/* color variables */
:root {
    --purple-lightest: #eab8f6;;
    --purple-light: #dc4fff;
    --purple-medium: #c647e6;
    --purple-dark: #b700ff;
    --purple-darkest: purple;
}

html {
    box-sizing: border-box;
    font-family: Mukta, sans-serif;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 30px;
}

.diocese-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.dropdown-arrow {
    position: relative;
    font-size: 0.75rem;
}

.dropdown-checkbox {
    display: none;
}

.dropdown-content {
    z-index: 2;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
    flex-direction: column;
    background-image: linear-gradient(var(--purple-dark), var(--purple-medium));
}

.dropdown-content a:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown label {
    height: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-text {
    margin: 0;
    color: var(--purple-dark);
}

header {
    width: 100%;
}

header a {
    text-decoration: none;
    color: black;
}

.logo-and-title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
}

.header-title {
    color: var(--purple-darkest);
    font-size: 1.5rem;
}

.header-logo {
    height: 3rem;
}

.main-img {
    width: 100%;
}

main {
    padding: 0 30px 20px;
    max-width: 1000px;
    width: 100%;
}

main h1 {
    margin-top: 0;
}

.menu-dropdown-label {
    display: flex;
    gap: 30px;
    width: 100%;
}

.menu-symbol {
    font-size: 2rem;
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    background-image:linear-gradient(to right, rgba(255, 255, 255, 50%), transparent);
}

.nav-links {
    background-image: linear-gradient(var(--purple-medium),var(--purple-dark));
}

nav a {
    padding: 10px;
}

nav a,
.dropdown label {
    display: flex;
    align-items: center;
}

nav label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-right: 10px;
}

nav label a,
.menu-indicator {
    padding: 10px 0 10px 10px;
}

.nav-links {
    display: flex;
    z-index: 2;
    align-items: stretch;
}

.nav-title {
    display: flex;
    justify-content: center;
}

.page-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding: 10px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* You can overwrite this with a different image in a page-specific stylesheet */
    background-image: url("/images/hills.JPG");
    background-position-y: 20%;
}

.page-heading h1 {
    color: white;
    opacity: 70%;
    font-size: 4rem;
    text-align: center;
    line-height: 1;
    margin: 0;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    padding: 5px;
    border: 1px solid black;
    margin: 0 auto;
}

.timeline {
    position: relative;
    background-image: linear-gradient(90deg, var(--purple-light), var(--purple-dark), var(--purple-light));
    border-radius: 6px;
}

/* timeline vertical line */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;;
    top: 0;
    bottom: 0;
    margin-left: -3px;
}

.timeline-item {
    position: relative;
}

/* circle on timeline */
.timeline-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--purple-dark);
    border: 6px solid white;
    top: 25px;
    border-radius: 50%;
    z-index: 1;
}

/* arrow pointing to timeline */
.timeline-item::before{
    content:' ';
    height: 0;
    position: absolute;
    top: 32px;
    width: 0;
    z-index: 1;
    border: medium solid white;
}

.timeline-item-content {
    padding: 5px 15px 15px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.timeline-item-content h3 {
    margin: 0;
    font-size: 2rem;
}

.timeline-item-content p {
    margin: 0;
}

.timeline-item-content p:not(:first-of-type) {
    margin-top: 20px;
}

/* for screens 601px or larger */
@media (min-width: 601px) {
    .dropdown-content {
        position: absolute;
    }
    
    .dropdown:hover .dropdown-content {
        display: flex;
    }

    .menu-symbol {
        display: none;
    }

    nav a:not(.logo-and-title):hover,
    .dropdown:hover > label > a {
        color: var(--purple-lightest);
    }

    .nav-links > *:hover,
    .dropdown-content > *:hover {
        background-color: var(--purple-medium);
    }
}

/* for screens 801px or larger */
@media (min-width: 801px) {
    nav {
        position: absolute;
    }

    .nav-links {
        border-bottom-left-radius: 10px;
    }

    .page-heading {
        height: 260px;
        padding-top: 40px;
    }

    /* timeline vertical line */
    .timeline::after {
        left: 50%;
    }

    .timeline-item {
        padding: 20px;
        width: 50%;
    }

    /* timeline item on left */
    .timeline-item:nth-child(2n+1) {
        padding-right: 30px;
    }
    
    /* timeline item on right */
    .timeline-item:nth-child(2n) {
        left: 50%;
        padding-left: 30px;
    }

    /* arrow for item on left */
    .timeline-item:nth-child(2n+1)::before {
        right: 20px;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }
    
    /* arrow for item on right */
    .timeline-item:nth-child(2n)::before {
        left: 20px;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    
    /* circle for item on left */
    .timeline-item:nth-child(2n+1)::after {
        right: -16px;
    }

    /* circle for item on right */
    .timeline-item:nth-child(2n)::after {
        left: -16px;
    }
}

/* for screens 800px or smaller */
@media (max-width: 800px) {
    .header-title {
        color: black;
    }

    .nav-title {
        width: 100%;
        background-image: linear-gradient(var(--purple-light), var(--purple-medium));
    }

    .nav-links {
        width: 100%;
        justify-content: center;
    }

    nav {
        gap: 0;
    }

    /* timeline vertical line */
    .timeline::after {
        left: 25px;
    }

    .timeline-item {
        width: 100%;
        padding: 10px 10px 0px 60px;
    }

    .timeline-item:last-child {
        padding-bottom: 10px;
    }

    /* arrow for timeline item */
    .timeline-item::before {
        left: 50px;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* circle for timeline item */
    .timeline-item::after {
        left: 9px;
    }
}

/* for screens 600px or smaller */
@media (max-width: 600px) {
    .dropdown {
        width: 100%;
    }  

    nav {
        flex-direction: column;
    }

    nav a {
        text-align: center;
        justify-content: center;
    }

    .dropdown-arrow {
        font-size: 1rem;
    }

    .nav-links {
        width: 100%;
        display: none;
        flex-direction: column;
        gap: 0;
        background-image: linear-gradient(var(--purple-medium), var(--purple-dark));
    }

    .nav-links label {
        gap: 20px;
    }

    .dropdown-checkbox:checked ~ label {
        background-image: linear-gradient(var(--purple-light), var(--purple-medium));
    }

    .dropdown-checkbox:checked ~ label .dropdown-arrow {
        transform: rotate(180deg);
        bottom: 3px;
    }

    .dropdown-checkbox:checked ~ .dropdown-content,
    .dropdown-checkbox:checked ~ .nav-links
    {
        display: flex;
    }

    .dropdown-content {
        background-image: linear-gradient(var(--purple-medium), var(--purple-light));
    }
}
